doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body
    include menu
    div.container.p-5
      block content
